
<div class="modal fade" id="academicTypeEditModal" tabindex="-1" aria-labelledby="academicAchievLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="academicAchievLabel">تعديل حقل</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form>
                        <div class="row g-3 align-items-center">
                            <div class="col-md-6">
                                <label for="firstname" class="form-label">الاسم</label>
                                <input type="text" class="form-control" id="firstname" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="lastname" class="form-label">الحالة</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>اختر الحالة المناسبة</option>
                                    <option value="1">فعال</option>
                                    <option value="2">غير فعال</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mt-4">حفظ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="academicTypeModal" tabindex="-1" aria-labelledby="academicAchievLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="academicAchievLabel">اضافة حقل</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form>
                        <div class="row g-3 align-items-center">
                            <div class="col-md-6">
                                <label for="firstname" class="form-label">الاسم</label>
                                <input type="text" class="form-control" id="firstname" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="lastname" class="form-label">الحالة</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>اختر الحالة المناسبة</option>
                                    <option value="1">فعال</option>
                                    <option value="2">غير فعال</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mt-4">حفظ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>