@{
    ViewData["Title"] = "بحث الموظفين";
}


<div class="row align-items-center">
    <div class="border-0 mb-4">
        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
            <h3 class="fw-bold mb-0">@ViewData["Title"]</h3>
        </div>
    </div>
</div><!-- Row end  -->

<div class="row clearfix g-3">
    <div class="col-md-4">
        <div class="input-group mb-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="البحث..." aria-label="Search" aria-describedby="basic-addon2" id="promotion_emp_info_page_search_text">
                <button class="btn btn-outline-secondary" type="button" id="promotion_emp_info_page_search_button">
                    <i class="icofont-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-2">
        <button type="button" class="btn btn-dark w-sm-100" data-bs-toggle="modal" data-bs-target="#promotion_emp_info_page_add_promotion_modal" id="promotion_emp_info_page_addpromotionbutton"><i class="icofont-plus-circle me-2 fs-6"></i>اضافة ترفيع</button>
    </div>
    <div class="col-md-3 mb-2">
        <button type="button" class="btn btn-dark w-sm-100" data-bs-toggle="modal" data-bs-target="#promotion_emp_info_page_add_promotion_modal" id="promotion_emp_info_page_addpromotionbutton"><i class="icofont-plus-circle me-2 fs-6"></i>اضافة علاوة</button>
    </div>

    <div class="col-md-12 mt-4">

        <div class="row g-3 mb-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-4 row-cols-xxl-4">
            <div class="col">
                <div class="card bg-primary">
                    <div class="card-body text-white d-flex align-items-center">
                        <i class="icofont-data fs-3"></i>
                        <div class="d-flex flex-column ms-3">
                            <h6 class="mb-0">
                                سنوات الخدمة في الجهاز
                            </h6>
                            <span class="text-white">25</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-primary">
                    <div class="card-body text-white d-flex align-items-center">
                        <i class="icofont-chart-flow fs-3"></i>
                        <div class="d-flex flex-column ms-3">
                            <h6 class="mb-0">
                                الخدمة المضافة
                            </h6>
                            <span class="text-white">10</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-primary">
                    <div class="card-body text-white d-flex align-items-center">
                        <i class="icofont-chart-flow-2 fs-3"></i>
                        <div class="d-flex flex-column ms-3">
                            <h6 class="mb-0">
                                الاجازات بدون راتب
                            </h6>
                            <span class="text-white">75</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-primary">
                    <div class="card-body text-white d-flex align-items-center">
                        <i class="icofont-tasks fs-3"></i>
                        <div class="d-flex flex-column ms-3">
                            <h6 class="mb-0">
                                الخدمة النهائية
                            </h6>
                            <span class="text-white">88</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row clearfix g-3">
            <div class="row g-3 align-items-center">
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_fullname" class="form-label">الاسم الكامل</label>
                    <input type="text" class="form-control" id="promotion_emp_info_page_form_fullname" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_lotNo" class="form-label">رقم الاضبارة</label>
                    <input type="text" class="form-control" id="promotion_emp_info_page_form_lotNo" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_statisticalNo" class="form-label">الرقم الاحصائي</label>
                    <input type="text" class="form-control" id="promotion_emp_info_page_form_statisticalNo" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_hiredate" class="form-label">تاريخ المباشرة</label>
                    <input type="date" class="form-control" id="promotion_emp_info_page_form_hiredate" readonly>
                </div>


                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_currentdegree" class="form-label">الدرجة الحالية</label>
                    <input type="text" class="form-control" id="promotion_emp_info_page_form_currentdegree" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_duedatedegree" class="form-label">تاريخ التسكين</label>
                    <input type="date" class="form-control" id="promotion_emp_info_page_form_duedatedegree" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_currentcategory" class="form-label">الفئة الحالية</label>
                    <input type="text" class="form-control" id="promotion_emp_info_page_form_currentcategory" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_duedatecategory" class="form-label">تاريخ التسكين</label>
                    <input type="date" class="form-control" id="promotion_emp_info_page_form_duedatecategory" readonly>
                </div>


                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_hiredegree" class="form-label">درجة التعيين</label>
                    <input type="text" class="form-control" id="promotion_emp_info_page_form_hiredegree" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_jobtitle" class="form-label">العنوان الوظيفي</label>
                    <input type="text" class="form-control" id="promotion_emp_info_page_form_jobtitle" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_directorate" class="form-label">الدائرة/المركز</label>
                    <input type="text" class="form-control" id="promotion_emp_info_page_form_directorate" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_stoppromotiondegree" class="form-label">درجة التوقف</label>
                    <input type="text" class="form-control" id="promotion_emp_info_page_form_stoppromotiondegree" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_lastpromotionNo" class="form-label">رقم امر آخر ترفيع</label>
                    <input type="text" class="form-control" id="promotion_emp_info_page_form_lastpromotionNo" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_lastpromotionDate" class="form-label">تاريخ امر آخر ترفيع</label>
                    <input type="date" class="form-control" id="promotion_emp_info_page_form_lastpromotionDate" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_onhireeducation" class="form-label">الشهادة عند التعيين</label>
                    <input type="text" class="form-control" id="promotion_emp_info_page_form_onhireeducation" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_onhireeducationdate" class="form-label">تاريخ التخرج</label>
                    <input type="date" class="form-control" id="promotion_emp_info_page_form_onhireeducationdate" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_afterhireeducation" class="form-label">الشهادة بعد التعيين</label>
                    <input type="text" class="form-control" id="promotion_emp_info_page_form_afterhireeducation" readonly>
                </div>
                <div class="col-md-3">
                    <label for="promotion_emp_info_page_form_afterhireeducationdate" class="form-label">تاريخ التخرج</label>
                    <input type="date" class="form-control" id="promotion_emp_info_page_form_afterhireeducationdate" readonly>
                </div>
                <!-- THREE CHECKBOXES BELOW WITHOUT ID-->
                <div class="col-md-auto">
                    <label class="form-label">ايقاف خاص</label>
                    <div class="border p-2">
                        <label class="fancy-checkbox">
                            <input type="checkbox" name="checkbox">
                            <span>Option 1</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-auto">
                    <label class="form-label">مشمول بقانون</label>
                    <div class="border p-2">
                        <label class="fancy-checkbox">
                            <input type="checkbox" name="checkbox">
                            <span>Option 2</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-auto">
                    <label class="form-label">موقف التنسيب</label>
                    <div class="border p-2">
                        <label class="fancy-checkbox">
                            <input type="checkbox" name="checkbox">
                            <span>Option 3</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-auto">
                    <label class="form-label">فروقات فصل سياسي</label>
                    <div class="border p-2">
                        <label class="fancy-checkbox">
                            <input type="checkbox" name="checkbox">
                            <span>Option 4</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-auto">
                    <label class="form-label">اشعار الى شعبة صحة الصدور</label>
                    <div class="border p-2">
                        <label class="fancy-checkbox">
                            <input type="checkbox" name="checkbox">
                            <span>Option 5</span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive">
        <table class="table table-hover table-bordered" id="promotion_emp_thanks_page_form_table1">
            <thead>
                <tr class="bg_table text-center">
                    <th scope="col">#</th>
                    <th scope="col">رقم الكتاب</th>
                    <th scope="col">تاريخ الكتاب</th>
                    <th scope="col">الجهة المانحة</th>
                    <th scope="col">تاريخ الاحتساب</th>
                    <th scope="col">عنوان الكتاب</th>
                    <th scope="col">عدد الاشهر المضافة</th>
                    <th scope="col">الملاحظات</th>
                    <th scope="col">المرفقات</th>
                    <th scope="col">الحالة</th>
                    <th scope="col">الإجرائات</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>1</td>
                    <td>52555</td>
                    <td>2023-12-10</td>
                    <td>وزارة التعليم</td>
                    <td>2023-12-10</td>
                    <td>شكر</td>
                    <td>1</td>
                    <td><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#view_notes"><i class="icofont-eye"></i></button></td>
                    <td><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#ViewAttachment"><i class="icofont-eye"></i></button></td>
                    <td><span class="badge badge_custom  w-100 bg-success">تم الأجراء</span></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="active">
                            <button type="button" class="btn btn-primary text-light" data-bs-toggle="modal" data-bs-target="#editDetails"><i class="icofont-eye"></i></button>
                            <button type="button" class="btn btn-primary text-light" data-bs-toggle="modal" data-bs-target="#editData"><i class="icofont-ui-edit"></i></button>
                            <button type="button" class="btn btn-danger text-light" data-bs-toggle="modal" data-bs-target="#deleteData"><i class="icofont-ui-delete"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="100" class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">السابق</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">التالي</a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-md-12 table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="bg_table text-center">
                    <th scope="col">#</th>
                    <th scope="col">رقم الكتاب</th>
                    <th scope="col">تاريخ الكتاب</th>
                    <th scope="col">نوع الاجازة</th>
                    <th scope="col">تبدأ من تاريخ</th>
                    <th scope="col">تنتهي في تاريخ</th>
                    <th scope="col">عدد الاشهر المضافة</th>
                    <th scope="col">الملاحظات</th>
                    <th scope="col">المرفقات</th>
                    <th scope="col">الحالة</th>
                    <th scope="col">الإجرائات</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>1</td>
                    <td>52555</td>
                    <td>2023-12-10</td>
                    <td>وزارة التعليم</td>
                    <td>2023-12-10</td>
                    <td>شكر</td>
                    <td>1</td>
                    <td><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#view_notes"><i class="icofont-eye"></i></button></td>
                    <td><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#ViewAttachment"><i class="icofont-eye"></i></button></td>
                    <td><span class="badge badge_custom  w-100 bg-success">تم الأجراء</span></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="active">
                            <button type="button" class="btn btn-primary text-light" data-bs-toggle="modal" data-bs-target="#editDetails"><i class="icofont-eye"></i></button>
                            <button type="button" class="btn btn-primary text-light" data-bs-toggle="modal" data-bs-target="#editData"><i class="icofont-ui-edit"></i></button>
                            <button type="button" class="btn btn-danger text-light" data-bs-toggle="modal" data-bs-target="#deleteData"><i class="icofont-ui-delete"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="100" class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">السابق</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">التالي</a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-md-12 table-responsive">
        <table class="table table-hover table-bordered" id="promotion_emp_thanks_page_form_table">
            <thead>
                <tr class="bg_table text-center">
                    <th scope="col">#</th>
                    <th scope="col">رقم الكتاب</th>
                    <th scope="col">تاريخ الكتاب</th>
                    <th scope="col">عنوان الكتاب</th>
                    <th scope="col">نوع العقوبة</th>
                    <th scope="col">المادة القانونية</th>
                    <th scope="col">سبب العقوبة</th>
                    <th scope="col">عدد اشهر التأخير</th>
                    <th scope="col">الملاحظات</th>
                    <th scope="col">المرفقات</th>
                    <th scope="col">الحالة</th>
                    <th scope="col">الإجرائات</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>1</td>
                    <td>52555</td>
                    <td>2023-12-10</td>
                    <td>عقوبة</td>
                    <td>قطع راتب</td>
                    <td>3532</td>
                    <td>غياب متعمد</td>
                    <td>1</td>
                    <td><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#view_notes"><i class="icofont-eye"></i></button></td>
                    <td><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#ViewAttachment"><i class="icofont-eye"></i></button></td>
                    <td><span class="badge badge_custom  w-100 bg-success">تم الأجراء</span></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="active">
                            <button type="button" class="btn btn-primary text-light" data-bs-toggle="modal" data-bs-target="#editDetails"><i class="icofont-eye"></i></button>
                            <button type="button" class="btn btn-primary text-light" data-bs-toggle="modal" data-bs-target="#editData"><i class="icofont-ui-edit"></i></button>
                            <button type="button" class="btn btn-danger text-light" data-bs-toggle="modal" data-bs-target="#deleteData"><i class="icofont-ui-delete"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="100" class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">السابق</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">التالي</a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>


</div>
    <!-- Modal Popup Dialog for ADD PROMOTION -->
    <div class="modal fade" id="promotion_emp_info_page_add_promotion_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <!-- Use modal-lg for a larger modal -->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Add a close button on the top right corner -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <!-- Modal Title -->
                    <h5 class="modal-title">اضافة ترفيع</h5>
                </div>
                <div>
                    <!-- Container for structured content -->

                    <div class="container">
                        <div class="card-body">
                            <div class="col-md-4 mt-4 mb-4">
                                <div class="input-group mb-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="البحث..." aria-label="Search" aria-describedby="basic-addon2" id="promotion_emp_info_page_search_text">
                                        <button class="btn btn-outline-secondary" type="button" id="promotion_emp_info_page_search_button">
                                            <i class="icofont-search me-2 fs-6"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <form id="promotion_emp_info_page_add_promotion_modal_form">
                                <div class="row g-4 align-items-center">

                                    <div class="col-md-4">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_lotNo" class="form-label">رقم الاضبارة</label>
                                        <input type="text" class="form-control" id="promotion_emp_info_page_add_promotion_modal_form_lotNo" readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_previousdegree" class="form-label">الدرجة السابقة</label>
                                        <input type="text" class="form-control" id="promotion_emp_info_page_add_promotion_modal_form_previousdegree" readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_duedatedegree" class="form-label">تاريخ التسكين</label>
                                        <input type="date" class="form-control" id="promotion_emp_info_page_add_promotion_modal_form_duedatedegree" readonly>
                                    </div>


                                    <div class="col-md-4">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_previousjobtitle" class="form-label">العنوان الوظيفي السابق</label>
                                        <input type="text" class="form-control" id="promotion_emp_info_page_add_promotion_modal_form_previousjobtitle" readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_previouscategory" class="form-label">الفئة السابقة</label>
                                        <input type="text" class="form-control" id="promotion_emp_info_page_add_promotion_modal_form_previouscategory" readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_duedatecategory" class="form-label">تاريخ التسكين</label>
                                        <input type="date" class="form-control" id="a-p-d-d-category" readonly>
                                    </div>

                                    <hr />
                                    <div class="col-md-4">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_newdegree" class="form-label">الدرجة الجديدة</label>
                                        <input type="text" class="form-control" id="newdegree" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_duedatenewdegree" class="form-label">تاريخ التسكين</label>
                                        <input type="date" class="form-control" id="promotion_emp_info_page_add_promotion_modal_form_duedatenewdegree" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_adminorderNo" class="form-label">رقم الامر الاداري</label>
                                        <input type="text" class="form-control" id="promotion_emp_info_page_add_promotion_modal_form_adminorderNo" required>
                                    </div>



                                    <div class="col-md-4">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_newcategory" class="form-label">الفئة الجديدة</label>
                                        <input type="text" class="form-control" id="newcategory" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_duedatenewcategory" class="form-label">تاريخ التسكين</label>
                                        <input type="date" class="form-control" id="promotion_emp_info_page_add_promotion_modal_form_duedatenewcategory" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_newjobtitle" class="form-label">العنوان الوظيفي الجديد</label>
                                        <input type="text" class="form-control" id="promotion_emp_info_page_add_promotion_modal_form_newjobtitle" required>
                                    </div>



                                    <div class="col-md-12">
                                        <label for="promotion_emp_info_page_add_promotion_modal_form_note" class="form-label">الملاحظات</label>
                                        <textarea class="form-control" id="promotion_emp_info_page_add_promotion_modal_form_note" rows="3" required></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary mt-4">حفظ التغييرات</button>
                                    <button type="button" class="btn btn-secondary mt-4" data-bs-dismiss="modal">إغلاق</button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <!-- Modal Popup Dialog for ADD THANKS -->
    <div class="modal fade" id="promotion_emp_thanks_page_add_thanks_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <!-- Use modal-lg for a larger modal -->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Add a close button on the top right corner -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <!-- Modal Title -->
                    <h5 class="modal-title">اضافة كتاب شكر</h5>
                </div>
                <div>
                    <!-- Container for structured content -->

                    <div class="container">
                        <div class="card-body">
                            <div class="col-md-4 mt-4 mb-4">
                                <div class="input-group mb-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="البحث..." aria-label="Search" aria-describedby="basic-addon2" id="promotion_emp_info_page_search_text">
                                        <button class="btn btn-outline-secondary" type="button" id="promotion_emp_info_page_search_button">
                                            <i class="icofont-search me-2 fs-6"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <form id="promotion_emp_thanks_page_add_thanks_modal_form">
                                <div class="row g-4 align-items-center">

                                    <div class="col-md-3">
                                        <label for="promotion_emp_thanks_page_add_thanks_modal_form_lotNo" class="form-label">رقم الاضبارة</label>
                                        <input type="text" class="form-control" id="promotion_emp_thanks_page_add_thanks_modal_form_lotNo" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="promotion_emp_thanks_page_form_statisticalNo" class="form-label">الرقم الاحصائي</label>
                                        <input type="text" class="form-control" id="promotion_emp_thanks_page_form_statisticalNo" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="promotion_emp_thanks_page_add_thanks_modal_form_thanksNo" class="form-label">رقم الكتاب</label>
                                        <input type="text" class="form-control" id="promotion_emp_thanks_page_add_thanks_modal_form_thanksNo" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="promotion_emp_thanks_page_add_thanks_modal_form_thanksDate" class="form-label">تاريخ الكتاب</label>
                                        <input type="date" class="form-control" id="promotion_emp_thanks_page_add_thanks_modal_form_thanksDate" required>
                                    </div>




                                    <div class="col-md-3">
                                        <label for="promotion_emp_thanks_page_add_thanks_modal_form_thanksreason" class="form-label">سبب منح الكتاب</label>
                                        <input type="text" class="form-control" id="promotion_emp_thanks_page_add_thanks_modal_form_thanksreason" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="promotion_emp_thanks_page_add_thanks_modal_form_thanksfrom" class="form-label">الجهة المانحة</label>
                                        <input type="text" class="form-control" id="promotion_emp_thanks_page_add_thanks_modal_form_thanksfrom" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="promotion_emp_thanks_page_add_thanks_modal_form_adminorderNo" class="form-label">تاريخ الاحتساب</label>
                                        <input type="date" class="form-control" id="promotion_emp_thanks_page_add_thanks_modal_form_adminorderNo" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="formFileMultipleone" class="form-label">اضافة مرفق</label>
                                        <input class="form-control" type="file" id="formFileMultipleone" multiple>
                                    </div>


                                    <div class="col-md-12">
                                        <label for="promotion_emp_thanks_page_add_thanks_modal_form_note" class="form-label">الملاحظات</label>
                                        <textarea class="form-control" id="promotion_emp_thanks_page_add_thanks_modal_form_note" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary mt-4">حفظ التغييرات</button>
                                    <button type="button" class="btn btn-secondary mt-4" data-bs-dismiss="modal">إغلاق</button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <!-- Modal Popup Dialog for ADD DISCIPLINARY -->
    <div class="modal fade" id="promotion_emp_disciplinary_page_add_disciplinary_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <!-- Use modal-lg for a larger modal -->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Add a close button on the top right corner -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <!-- Modal Title -->
                    <h5 class="modal-title">اضافة عقوبة</h5>
                </div>
                <div class="المعلومات">
                    <!-- Container for structured content -->

                    <div class="container">
                        <div class="card-body">
                            <div class="col-md-4 mt-4 mb-4">
                                <div class="input-group mb-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="البحث..." aria-label="Search" aria-describedby="basic-addon2" id="promotion_emp_info_page_search_text">
                                        <button class="btn btn-outline-secondary" type="button" id="promotion_emp_info_page_search_button">
                                            <i class="icofont-search me-2 fs-6"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <form id="promotion_emp_disciplinary_page_add_disciplinary_modal_form">
                                <div class="row g-4 align-items-center">

                                    <div class="col-md-4">
                                        <label for="promotion_emp_disciplinary_page_add_disciplinary_modal_form_lotNo" class="form-label">رقم الاضبارة</label>
                                        <input type="number" class="form-control" id="promotion_emp_disciplinary_page_add_disciplinary_modal_form_lotNo" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_thanks_page_form_statisticalNo" class="form-label">الرقم الاحصائي</label>
                                        <input type="text" class="form-control" id="promotion_emp_thanks_page_form_statisticalNo" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_disciplinary_page_add_disciplinary_modal_form_disciplinarymonthlate" class="form-label">عدد اشهر التأخير</label>
                                        <input type="number" class="form-control" id="promotion_emp_disciplinary_page_add_disciplinary_modal_form_disciplinarymonthlate" required>
                                    </div>


                                    <div class="col-md-4">
                                        <label for="promotion_emp_disciplinary_page_add_disciplinary_modal_form_booktitle" class="form-label">عنوان الكتاب</label>
                                        <input type="text" class="form-control" id="promotion_emp_disciplinary_page_add_disciplinary_modal_form_booktitle" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_disciplinary_page_add_disciplinary_modal_form_disciplinaryNo" class="form-label">رقم الكتاب</label>
                                        <input type="number" class="form-control" id="promotion_emp_disciplinary_page_add_disciplinary_modal_form_disciplinaryNo" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_disciplinary_page_add_disciplinary_modal_form_disciplinaryDate" class="form-label">تاريخ الكتاب</label>
                                        <input type="date" class="form-control" id="promotion_emp_disciplinary_page_add_disciplinary_modal_form_disciplinaryDate" required>
                                    </div>


                                    <div class="col-md-4">
                                        <label for="promotion_emp_disciplinary_page_add_disciplinary_modal_form_disciplinarytype" class="form-label">نوع العقوبة</label>
                                        <input type="text" class="form-control" id="promotion_emp_disciplinary_page_add_disciplinary_modal_form_disciplinarytype" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="promotion_emp_disciplinary_page_add_disciplinary_modal_form_disciplinarylaw" class="form-label">المادة القانونية</label>
                                        <input type="text" class="form-control" id="promotion_emp_disciplinary_page_add_disciplinary_modal_form_disciplinarylaw" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="formFileMultipleone" class="form-label">اضافة مرفق</label>
                                        <input class="form-control" type="file" id="formFileMultipleone" multiple>
                                    </div>



                                    <div class="col-md-12">
                                        <label for="promotion_emp_disciplinary_page_add_disciplinary_modal_form_note" class="form-label">الملاحظات</label>
                                        <textarea class="form-control" id="promotion_emp_disciplinary_page_add_disciplinary_modal_form_note" rows="3" required></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary mt-4">حفظ التغييرات</button>
                                    <button type="button" class="btn btn-secondary mt-4" data-bs-dismiss="modal">إغلاق</button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!--Service Calculation add MODAL-->
    <div class="modal fade" id="promotion_emp_info_page_add_service_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <!-- Use modal-lg for a larger modal -->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Add a close button on the top right corner -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <!-- Modal Title -->
                    <h5 class="modal-title">اضافة ترفيع</h5>
                </div>
                <div>
                    <!-- Container for structured content -->

                    <div class="container">
                        <div class="card-body">
                            <div class="col-md-4 mt-4 mb-4">
                                <div class="input-group mb-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="البحث..." aria-label="Search" aria-describedby="basic-addon2" id="promotion_emp_info_page_search_text">
                                        <button class="btn btn-outline-secondary" type="button" id="promotion_emp_info_page_search_button">
                                            <i class="icofont-search me-2 fs-6"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <form>
                                <div class="row g-4 align-items-center">



                                    <div class="col-md-3">
                                        <label for="service_calculation_page_add_calculation_modal_add_thanks_tab_lotNo" class="form-label">رقم الاضبارة</label>
                                        <input type="text" class="form-control" id="service_calculation_page_add_calculation_modal_add_thanks_tab_lotNo" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="promotion_emp_thanks_page_form_statisticalNo" class="form-label">الرقم الاحصائي</label>
                                        <input type="text" class="form-control" id="promotion_emp_thanks_page_form_statisticalNo" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="service_calculation_page_add_calculation_modal_add_thanks_tab_thanksNo" class="form-label">رقم الامر الاداري</label>
                                        <input type="text" class="form-control" id="service_calculation_page_add_calculation_modal_add_thanks_tab_thanksNo" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="service_calculation_page_add_calculation_modal_add_thanks_tab_thanksDate" class="form-label">تاريخ الامر الاداري</label>
                                        <input type="date" class="form-control" id="service_calculation_page_add_calculation_modal_add_thanks_tab_thanksDate" required>
                                    </div>


                                    <div class="col-md-3">
                                        <label for="service_calculation_page_add_calculation_modal_add_thanks_tab_thanksreason" class="form-label">نوع الخدمة</label>
                                        <input type="text" class="form-control" id="service_calculation_page_add_calculation_modal_add_thanks_tab_thanksreason" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="service_calculation_page_add_calculation_modal_add_thanks_tab_thanksfrom" class="form-label">الوزارة</label>
                                        <input type="text" class="form-control" id="service_calculation_page_add_calculation_modal_add_thanks_tab_thanksfrom" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="service_calculation_page_add_calculation_modal_add_thanks_tab_calculationdate" class="form-label">الدائرة</label>
                                        <input type="text" class="form-control" id="service_calculation_page_add_calculation_modal_add_thanks_tab_calculationdate" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="formFileMultipleone" class="form-label">اضافة مرفق</label>
                                        <input class="form-control" type="file" id="formFileMultipleone" multiple>
                                    </div>


                                    <div class="col-md-3">
                                        <label for="service_calculation_page_add_calculation_modal_add_thanks_tab_calculationdate" class="form-label">من تاريخ</label>
                                        <input type="date" class="form-control" id="service_calculation_page_add_calculation_modal_add_thanks_tab_calculationdate" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="service_calculation_page_add_calculation_modal_add_thanks_tab_calculationdate" class="form-label">الى تاريخ</label>
                                        <input type="date" class="form-control" id="service_calculation_page_add_calculation_modal_add_thanks_tab_calculationdate" required>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="service_calculation_page_add_calculation_modal_add_thanks_tab_calculationdate" class="form-label">عدد السنين</label>
                                        <input type="number" class="form-control" id="service_calculation_page_add_calculation_modal_add_thanks_tab_calculationdate" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="service_calculation_page_add_calculation_modal_add_thanks_tab_calculationdate" class="form-label">عدد الاشهر</label>
                                        <input type="number" class="form-control" id="service_calculation_page_add_calculation_modal_add_thanks_tab_calculationdate" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="service_calculation_page_add_calculation_modal_add_thanks_tab_calculationdate" class="form-label">عدد الايام</label>
                                        <input type="number" class="form-control" id="service_calculation_page_add_calculation_modal_add_thanks_tab_calculationdate" readonly>
                                    </div>



                                    <div class="col-md-12">
                                        <label for="service_calculation_page_add_calculation_modal_add_thanks_tab_note" class="form-label">الملاحظات</label>
                                        <textarea class="form-control" id="service_calculation_page_add_calculation_modal_add_thanks_tab_note" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary mt-4">حفظ التغييرات</button>
                                    <button type="button" class="btn btn-secondary mt-4" data-bs-dismiss="modal">إغلاق</button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



    <!--EDIT DATA MODAL-->
    <div class="modal fade" id="editData" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="depaddLabel">اضافة موظف</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1111" class="form-label">اسم الموظف الثلاثي</label>
                        <input type="search" class="form-control" id="exampleFormControlInput1111">
                    </div>
                    <div class="deadline-form">
                        <form>
                            <div class="row g-3 mb-3">
                                <div class="col-sm-6">
                                    <label for="deptwo" class="form-label">الدائرة او المديرية</label>
                                    <select class="form-select" aria-label="Default select Project Category">
                                        <option selected=""></option>
                                        <option value="1"></option>
                                        <option value="2"></option>
                                        <option value="3"></option>
                                        <option value="4"></option>
                                        <option value="5"></option>
                                        <option value="6"></option>
                                        <option value="7"></option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="deptwo" class="form-label">المنصب</label>
                                    <select class="form-select" aria-label="Default select Project Category">
                                        <option selected=""></option>
                                        <option value="1"></option>
                                        <option value="2"></option>
                                        <option value="3"></option>
                                        <option value="4"></option>
                                        <option value="5"></option>
                                        <option value="6"></option>
                                        <option value="7"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row g-3 mb-3">
                                <div class="col-sm-6">
                                    <label for="depone" class="form-label">الدائرة المنقول منها</label>
                                    <select class="form-select" aria-label="Default select Project Category">
                                        <option selected="">s</option>
                                        <option value="1"></option>
                                        <option value="2"></option>
                                        <option value="3"></option>
                                        <option value="4"></option>
                                        <option value="5"></option>
                                        <option value="6"></option>
                                        <option value="7"></option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="deptwo" class="form-label">الدائرة المنقول اليها</label>
                                    <select class="form-select" aria-label="Default select Project Category">
                                        <option selected=""></option>
                                        <option value="1"></option>
                                        <option value="2"></option>
                                        <option value="3"></option>
                                        <option value="4"></option>
                                        <option value="5"></option>
                                        <option value="6"></option>
                                        <option value="7"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row g-3 mb-3">
                                <div class="col-sm-6">
                                    <label for="depone" class="form-label">رقم الانفكاك</label>
                                    <input type="text" class="form-control" id="depone">
                                </div>
                                <div class="col-sm-6">
                                    <label for="deptwo" class="form-label">تاريح الانفكاك</label>
                                    <input type="date" class="form-control" id="datetimePicker" name="datetime">
                                </div>
                            </div>
                            <div class="row g-3 mb-3">
                                <div class="col-sm-6">
                                    <label for="depone" class="form-label">رقم المباشرة</label>
                                    <input type="text" class="form-control" id="depone">
                                </div>
                                <div class="col-sm-6">
                                    <label for="deptwo" class="form-label">تاريح المباشرة</label>
                                    <input type="date" class="form-control" id="datetimePicker" name="datetime">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1111" class="form-label">الاجرائات</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1111">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
                    <button type="submit" class="btn btn-primary">تعديل</button>
                </div>
            </div>
        </div>
    </div>
    <!--VIEW ATTACHMENT MODAL-->
    <div class="modal fade" id="ViewAttachment" tabindex="-1" aria-labelledby="ViewAttachmentTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ViewAttachmentTitle">مرفقات قيد #<b id="recordName">حسن حافظ عبيد  ناصر الموسوي</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">

                            <div class="row align-items-center">
                                <div class="col-md-2">
                                </div>
                                <div class="border-0 mb-4 col-md-8">
                                    <div class="card-header p-0 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                                        <div class="d-flex py-2 project-tab flex-wrap w-sm-100">
                                            <ul class="nav nav-tabs tab-body-header rounded ms-3 prtab-set w-sm-100" role="tablist">
                                                <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#view_attach" role="tab">عرض المرفقات</a></li>
                                                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#add_attach" role="tab">اضافة مرفقات</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- Row end  -->
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12 flex-column">
                                    <div class="tab-content mt-4">
                                        <div class="tab-pane fade show active" id="view_attach">
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>

                                                <div class="col-md-10">
                                                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0 w-100">
                                                        <div class="input-group flex-nowrap input-group">
                                                            <input type="search" class="form-control" placeholder="بحث..." aria-label="search" aria-describedby="search_btn">
                                                            <button type="button" class="input-group-text btn btn-primary" id="search_btn"><i class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <div class="py-2 d-flex align-items-center border-bottom">
                                                    <div class="d-flex ms-3 align-items-center flex-fill">
                                                        <span class="avatar lg bg-lightgreen rounded-circle text-center d-flex align-items-center justify-content-center"><i class="icofont-file-pdf fs-5"></i></span>
                                                        <div class="d-flex flex-column ps-3">
                                                            <div>
                                                                <span class="fw-bold ms-1">file1.pdf</span>
                                                                <span class="text-muted ms-1 d-block">تخويل دخول السيارة 258825 2023-01-01</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn bg-lightgreen text-end"><i class="icofont-cloud-download"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="add_attach">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row g-3 mb-3">
                                                        <div class="col-sm-12">
                                                            <label for="fileimg" class="form-label">اختر الملف</label>
                                                            <input type="File" class="form-control" id="fileimg">
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <label for="depone" class="form-label">رقم الكتاب</label>
                                                            <input type="text" class="form-control" id="depone">
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <label for="abc" class="form-label">تاريخ الكتاب</label>
                                                            <input type="date" class="form-control" id="abc">
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <label for="abc" class="form-label">عنوان الكتاب</label>
                                                            <input type="text" class="form-control" id="abc">
                                                        </div>
                                                    </div>
                                                    <div class="row g-3 mb-3">
                                                        @* <div class="col-sm-12">
                                                        <h6>اضف تفاصيل اخرى عن الملف</h6>
                                                        </div>
                                                        <div class="row g-3 mb-3" id="addfield">

                                                        </div>
                                                        <div class="row g-3 mb-3">
                                                        <div class="col-md-10">

                                                        </div>
                                                        <div class="col-md-2">
                                                        <button type="button" onclick="AddFieldToAttachment()" class="btn btn-outline-info"><i class="icofont-plus"></i></button>
                                                        </div>
                                                        </div> *@
                                                        <button type="button" class="btn btn-primary">حفظ الملف</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--NOTES MODAL-->
    <div class="modal fade modal-lg" id="view_notes" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-content-center fw-bold" id="depaddLabel">الملاحظات</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <label for="promotion_emp_disciplinary_page_form_note" class="form-label">الملاحظات</label>
                        <textarea class="form-control" id="promotion_emp_disciplinary_page_form_note" rows="3" readonly></textarea>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--DELETE DATA MODAL-->
    <div class="modal fade" id="deleteData" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="deletedataLabel">هل تريد حذف البيانات نهائياً؟</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body justify-content-center flex-column d-flex">
                    <i class="icofont-ui-delete text-danger display-2 text-center mt-2"></i>
                    <p class="mt-4 fs-5 text-center">يرجى الانتباه, لا يمكن استرجاع البيانات بعد حذفها!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                    <button type="button" class="btn btn-danger color-fff">حذف نهائياً</button>
                </div>
            </div>
        </div>
    </div>
    <!--Edit MODAL-->
    <div class="modal fade  modal-xl" id="editDetails" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="depaddLabel"> المعلومات</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mt-4"></div>
                    <div class="row">
                        <div class="col">

                            <label for="issueAuthority" style="font-weight: bold; font-size: 16px;">اسم الموظف </label>
                            <div class="form-control text-center" id="issueAuthority" style="font-size: 18px;">saf</div>

                        </div>
                        <div class="col">

                            <label for="studyType" style="font-weight: bold; font-size: 16px;">الجهة المنسب اليها</label>
                            <div class="form-control text-center" id="studyType" style="font-size: 18px;">fasfsa</div>

                        </div>
                        <div class="col">

                            <label for="studyType" style="font-weight: bold; font-size: 16px;">مدة التنسيب بالشهر</label>
                            <div class="form-control text-center" id="studyType" style="font-size: 18px;">fsafa</div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="studyType" style="font-weight: bold; font-size: 16px;">رقم الانفكاك</label>
                            <div class="form-control text-center" id="studyType" style="font-size: 18px;">saffsa</div>
                        </div>
                        <div class="col">
                            <label for="studyType" style="font-weight: bold; font-size: 16px;">تاريخ الانفكاك</label>
                            <div class="form-control text-center" id="studyType" style="font-size: 18px;">fsafsaf</div>
                        </div>
                        <div class="col-md-4">
                            <label for="studyType" style="font-weight: bold; font-size: 16px;">رقم المباشرة</label>
                            <div class="form-control text-center" id="studyType" style="font-size: 18px;">fasfsa</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="studyType" style=" font-size: 16px;">تاريخ المباشرة</label>
                            <div class="form-control text-center" id="studyType" style="font-size: 18px;">safasfasf</div>
                        </div>
                        <div class="col">
                            <label for="studyType" style=" font-size: 16px;">الامر الاداري بنتهاء التنسيب</label>
                            <div class="form-control text-center" id="studyType" style="font-size: 18px;">sfafsaf</div>
                        </div>

                        <div class="col">
                            <label for="studyType" style=" font-size: 16px;"> رقم الانفكاك بعد انتهاء التنسيب</label>
                            <div class="form-control text-center" id="studyType" style="font-size: 18px;">asfasf</div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            <label for="studyType" style=" font-size: 16px;">تاريخ الانفكاك بعد انتهاء التنسيب</label>
                            <div class="form-control text-center" id="studyType" style="font-size: 18px;">afsfs</div>
                        </div>
                        <div class="col">
                            <label for="studyType" style=" font-size: 16px;">رقم المباشرة بعد انتهاء التنسيب</label>
                            <div class="form-control text-center" id="studyType" style="font-size: 18px;">asfasf</div>
                        </div>
                        <div class="col">
                            <label for="studyType" style=" font-size: 16px;">تاريخ المباشرة بعد انتهاء التنسيب</label>
                            <div class="form-control text-center" id="studyType" style="font-size: 18px;">saffsa</div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <label for="studyType" style=" font-size: 16px;">الملاحظات</label>
                        <div class="form-control text-center" id="studyType" style="font-size: 18px;">saffsa</div>
                    </div>
                    <div class="form-group text-center">
                        <label for="studyType" style=" font-size: 16px;">الاجراءات</label>
                        <div class="form-control text-center" id="studyType" style="font-size: 18px;">safasfsaf</div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
                    <button type="submit" class="btn btn-primary">اضافة</button>
                </div>
            </div>
        </div>
    </div>



